[submodule "lexilla"]
	path = lexilla
	url = https://github.com/indiff/lexilla.git
	branch = dev
[submodule "scintilla"]
	path = scintilla
	url = https://github.com/indiff/scintilla.git
	branch = dev
